@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}



<!-- header -->
<div class="header">
    <h1>Welcome to All Marketing</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor</p>
    <a href="#!" class="read-more">Подробнее</a>
</div>
<!-- header end -->
<!-- cards -->
<div class="cards">
    <div class="cards__item">
        <h3>Мощная аналитика</h3>
        <img src="images/Vector-0.png" alt="">
        <a href="#!" class="read-more">Подробнее</a>
    </div>
    <div class="cards__item">
        <h3>Ведение документов</h3>
        <img src="images/Vector-1.png" alt="">
        <a href="#!" class="read-more">Подробнее</a>
    </div>
    <div class="cards__item">
        <h3>Международные решения</h3>
        <img src="images/Vector-2.png" alt="">
        <a href="#!" class="read-more">Подробнее</a>
    </div>
    <div class="cards__item">
        <h3>Бизнес стратегии</h3>
        <img src="images/Vector-3.png" alt="">
        <a href="#!" class="read-more">Подробнее</a>
    </div>
</div>
<!-- cards end -->
<!-- content -->
<div class="content">
    <div class="content__info">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam velit aliquam ultrices amet aliquam gravida. Egestas ut pellentesque fames aliquam aenean. Sem id pellentesque etiam diam dolor, pellentesque commodo. Enim donec quam convallis eu etiam ultrices pretium ut. Faucibus adipiscing neque massa vel posuere potenti odio natoque velit. Suscipit eu, quam ipsum, vulputate convallis at ultricies elit. Fermentum fames nunc neque vulputate dui. Nisl semper iaculis iaculis lectus velit ut.</p>
        <p>Arcu laoreet odio interdum odio ac mi. Curabitur turpis lorem sed justo at nulla massa tristique. At aliquet quam nec ullamcorper pellentesque gravida tempor morbi. At fusce sagittis egestas lobortis mauris. Aliquam pharetra purus volutpat donec nibh mus netus. At tristique pretium, fringilla tincidunt consectetur nunc. Rhoncus id dui, ac a mauris. Quis pretium, viverra non eu lacus, elit feugiat. Nisi, duis egestas accumsan cras sit lacus, sit. Elementum neque lectus faucibus vitae, metus odio at amet. Vel pellentesque adipiscing ultrices tristique vitae.</p>
        <p>Lacus, convallis vitae tempor viverra dictum suspendisse consequat. Odio duis quam lobortis risus interdum leo, leo erat. Enim, quis ipsum aenean quis duis tincidunt risus. Ac commodo eu sed quis egestas posuere. Sit mi enim consectetur scelerisque imperdiet cras amet. Pellentesque laoreet volutpat ultrices nisl lobortis arcu pellentesque. Elementum neque lectus faucibus vitae, metus odio at amet. Vel pellentesque adipiscing ultrices tristique vitae.</p>
    </div>
    <div class="content__services">
        <h2>Lorem ipsum dolor</h2>

        <div class="card">
            <img src="images/item1.jpg" alt="">
            <a href="#!" class="card__text">
                <h3>Онлайн приемная</h3>
                <p>lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </a>
        </div>
        <div class="card">
            <img src="images/item2.jpg" alt="">
            <a href="#!" class="card__text">
                <h3>Онлайн приемная</h3>
                <p>lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </a>
        </div>
        <div class="card">
            <img src="images/item3.jpg" alt="">
            <a href="#!" class="card__text">
                <h3>Онлайн приемная</h3>
                <p>lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </a>
        </div>
        <div class="card">
            <img src="images/item4.jpg" alt="">
            <a href="#!" class="card__text">
                <h3>Онлайн приемная</h3>
                <p>lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </a>
        </div>
    </div>
</div>
<!-- content end -->
