
/*@font-face {
    font-family: 'rubik';
    src: url('../fonts/Rubik-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'rubik';
    src: url('../fonts/Rubik-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'rubik';
    src: url('../fonts/Rubik-Bold.ttf') format('truetype');
    font-weight: 700;
}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'rubik';
    font-weight: 400;
}
/* body */
body {
    background: #F1F1F1;
}
/* navbar */
.navbar {
    width: 100px;
    height: 100vh;
    background: #ffffff;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.2s;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

    .navbar:hover {
        width: 234px;
    }

.navbar__logo {
    padding: 0 5px;
}

    .navbar__logo img {
        width: 60px;
    }

.navbar__user img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.navbar__list a {
    display: flex;
    align-items: center;
    width: 200px;
    fill: #939393;
    color: #939393;
    padding: 27.5px 15px;
}

.navbar__list svg {
    width: 40px;
    margin-right: 31px;
}

.navbar__list a:hover {
    fill: #2A86B1;
    color: #2A86B1;
}
/* header */
.header {
    width: 1110px;
    height: 500px;
    margin: 30px auto;
    background: #ffffff url('../images/bg.png') no-repeat center / cover;
    border-radius: 15px;
    padding: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

    .header h1 {
        width: 332px;
        color: #464748;
        font-weight: 700;
        font-size: 50px;
        line-height: 59px;
    }

    .header p {
        width: 314px;
        color: #696868;
        font-size: 16px;
        line-height: 19px;
        margin: 25px 0;
        text-align: justify;
    }

.read-more {
    min-width: 211px;
    padding: 7px;
    background: #3FA5D5;
    color: #ffffff;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.3);
    font-size: 16px;
    line-height: 19px;
}

    .read-more:hover {
        background: #2A86B1;
    }
/* cards */
.cards {
    width: 1110px;
    min-height: 100px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.cards__item {
    width: 255px;
    min-height: 338px;
    background: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 24px 18px 19px;
}

    .cards__item img {
        width: 100px;
    }

    .cards__item h3 {
        color: #2A86B1;
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        text-align: center;
        min-height: 47px;
        display: flex;
        align-items: center;
    }
/* content */
.content {
    width: 1110px;
    min-height: 200px;
    border: 1px solid red;
    margin: 48px auto 44px;
    display: flex;
    justify-content: space-between;
}

.content__info,
.content__services {
    min-height: 200px;
    border: 1px solid green;
}

.content__info {
    width: 825px;
}

.content__services {
    width: 255px;
}

.content h2 {
    color: #686868;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 22px;
    margin-left: 16px;
}

.content__info p {
    padding: 15px;
    border-radius: 8px;
    background: #ffffff;
    text-align: justify;
    color: #545454;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
}

.card {
    width: 100%;
    min-height: 50px;
    background: #ffffff;
    padding: 15px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 15px;
}

    .card img {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 15px;
    }

.card__text h3 {
    font-size: 17px;
    line-height: 18px;
    color: #323232;
    margin-bottom: 5px;
}

.card__text p {
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
    color: #000000;
}

